@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400&display=swap");

// Primary colors
$softBlue: #f1f4fe;
$softOrange: #fbeadf;
$darkBlue: #32355a;
$softGray: #f8f7f5;
$orange: #eb6b18;
// Neutral
$white: #ffffff;
$gray: #4e5357;
$black: #000000;
//Fonts
$nunito: "Nunito Sans", sans-serif;
